body {
    height: 100%;
    width: 100%;
    background: black;
    background-image: url("http://www.solstation.com/stars/mars0b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background: #000000; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #000000, #434343); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #000000, #434343); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

img {
    border-radius: 85%;
}

 {

}